.sectionProjetos {
  margin-block: 100px;
  color: #fff;

  display: flex;
  flex-direction: column;
}

.sectionProjetos h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}
.carouselWrapper {
  width: 100%;
  margin: 0 auto;
  height: 500px;
  display: flex;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}

.boxCards {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background: linear-gradient(180deg, #020f1b 0%, #0a315e 100%);

  padding: 18px 15px;
  max-width: 420px;
  height: 450px;
  max-height: 500px;
  margin: 15px 10px;
  color: #fff;
  transition: 0.3s ease;
}

.boxCards:hover {
  box-shadow: inset 0 0 10px #3ca4ce;
}

.linksGitAndExt a {
  color: #fff;
  width: 100px;
  transition: 0.3s ease-in-out;
}

.linksGitAndExt a:hover {
  background-color: #fff;
  color: #000;
  border-radius: 15px solid #000;
}

.boxCards img {
  width: 100%;
  height: 200px;
  margin-bottom: 20px;
}

.boxCards h3 {
  font-size: clamp(1.3rem, 1vw, 1.4rem);
}

.boxCards p {
  width: 95%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin-block: 15px;
  text-align: justify;
  color: #cdcdcd;
}

.tecnologias {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 10px;
}

.tecnologias .tags {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 4px;
}

.linksGitAndExt {
  padding-block: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.linksGitAndExt a {
  color: #fff;
  width: 100px;

  transition: 0.3s ease-in-out;
}

.linksGitAndExt a:hover {
  background-color: #fff;
  color: #000;
  border-radius: 15px solid #000;
}

@media (max-width: 420px) {
  .boxCards {
    max-width: 350px;
    max-height: 420px;
  }
  .boxCards img {
    margin-bottom: 4px;
  }
  .boxCards p {
    margin-block: 5px;
  }
  .boxCards h3 {
    font-size: 1.2rem;
    font-weight: bold;
  }
  .tecnologias {
    margin-top: 5px;
    width: 100%;
    justify-content: space-evenly;
  }
}

@media (max-width: 720px) {
  .boxCards {
    max-width: 330px;
    margin-inline: 10px;
    padding: 15px 10px;
  }
  .tecnologias {
    margin-block: 10px;
    width: 100%;
  }
  .boxCards h3 {
    font-size: 1.1rem;
  }
  .boxCards p {
    font-size: 1rem;
  }
  .boxCards p {
    margin-block: 4px;
  }
}

@media (max-width: 990px) {
  .boxCards {
    max-width: 350px;
    padding: 10px;
  }
  .boxCards h3 {
    font-size: 1rem;
  }
  .tecnologias {
    margin-block: 5px;
  }
  .linksGitAndExt {
    margin-top: 10px;
  }
}
