.perfil {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 100px;
  flex-wrap: wrap;
}

.textContent {
  width: 48%;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 5px;
}

.textContent h1 {
  font-size: 5rem;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.perfil img {
  width: 150px;
  height: 150px;
}

.containerDev {
  color: #fff;
  margin-bottom: 50px;
}

.fullstack {
  display: flex;
}
