/* Sobre.module.css */

.perfil {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 100px;
  flex-wrap: wrap;
}

.textContent {
  width: 48%;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 5px;

  padding: 15px 10px;
}

.textContent h1 {
  font-size: 5rem;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.textContent p {
  font-size: 1.3rem;
}

.textContent button {
  height: 40px;
  width: 150px;
  margin-top: 15px;
}
.fotoPerfil {
  width: 150px;
  height: 150px;
}

.containerDev {
  color: #fff;
  margin-block: 50px;
}

.containerDev h2 {
  text-align: center;
  font-size: 2rem;
  margin-block: 15px;
}

.containerSobreSt {
  background-color: #091f3f;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.textSobre {
  width: 40%;
  font-size: 1.4rem;
  text-align: justify;
}

.containerStacks {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-block: 50px;
  width: 50%;
}

.contentStack {
  display: flex;
  align-items: center;
  gap: 15px;
  border-radius: 20px;
  padding: 25px;
  background-image: linear-gradient(
    90deg,
    rgba(18, 101, 161, 0.42) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: 0.4s;
  margin-block: 15px;
}

.contentStack:hover {
  background-size: 100% 100%;
}

.containerStacks span {
  font-size: 2rem;
}

.contentStack h3 {
  font-size: 2rem;
}

.containerStacks p {
  font-size: 1rem;
  text-align: justify;
  padding-block: 10px;
}

.textSS {
  display: flex;
  flex-direction: column;
}

/* Responsividade */
@media (max-width: 720px) {
  .perfil {
    /* border: solid blue; */

    flex-direction: column;
  }
  .perfil .textContent {
    width: 100%;
    align-items: center;
  }
  .textContent h1 {
    font-size: clamp(3.4rem, 2vw, 4.4rem);
  }

  .containerSobreSt {
    flex-direction: column;
  }

  .textSobre {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    font-size: 1.3rem;

    margin-top: 30px;
  }
  .textSobre p {
    margin-inline: 10px;
  }
  .containerStacks {
    width: 100%;
  }
}

@media (max-width: 920px) {
  .perfil {
    padding-bottom: 20px;
    flex-direction: column;
  }
  .textContent {
    width: 100%;
    align-items: center;
    margin-bottom: 20px;
  }
  .containerSobreSt {
    flex-direction: column;
  }
  .textSobre {
    width: 90%;
    margin-top: 40px;
  }
  .textSobre p {
    font-size: 1.4rem;
  }
  .containerStacks {
    width: 90%;
  }
}

@media (max-width: 1080px) {
  .textContent {
    width: 90%;
    align-items: center;
    margin-bottom: 30px;
  }
}
