.containerSkills {
  /* border: solid black; */
}
.containerSkills > h2 {
  font-size: 3rem;
  margin: 30px;
  text-align: center;
  color: #fff;
  margin-bottom: 50px;
}
.skillsWrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}

.boxSkill {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 15px;
}

.skill {
  width: 120px;
  /* border: solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.skill h3 {
  color: #fff;
  text-transform: uppercase;
}

.skillImg {
  background-color: #0b1933;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.skillImg img {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

/* Formação */
.sectionFormacao {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
}
.cursosContainer {
  border: none;
  border-radius: 15px;
  background: #19376d;
  background: linear-gradient(90deg, #0a315e 0%, rgba(25, 55, 109, 0) 100%);
  display: flex;
  align-items: center;
  margin-block: 15px;
  gap: 10px;
  width: 80%;
}

.cursosContainer img {
  width: 200px;
  height: 200px;
}

.cursosContainer h2 {
  color: #fff;
  font-weight: bold;
  /* margin-block: 10px; */
}
.cursosContainer p {
  color: #fff;
  margin-block: 10px;
  font-style: italic;
}

/* Responsividade */

@media (max-width: 420px) {
  .containerSkills h2 {
    font-size: 1.9rem;
  }
  .skillsWrapper {
    flex-direction: column;
  }
  .boxSkill {
    width: 100%;
  }
  .sectionFormacao {
    width: 100%;

    align-items: center;
  }
  .cursosContainer {
    flex-direction: column;

    width: 90%;
  }
  .cursosContainer img {
    width: 80%;
    object-fit: cover;
  }
  .cursosContainer h2 {
    font-size: 1.2rem;
  }
  .textFormacao {
    width: 90%;
  }
}

@media (max-width: 620px) {
  .skillsWrapper {
    border: solid red;
    flex-direction: column;
  }

  .boxSkill {
    width: 90%;
  }

  .sectionFormacao {
    margin-top: 30px;
    width: 90%;
  }

  .cursosContainer {
    width: 100%;

    justify-content: center;
    flex-wrap: wrap;
  }

  .textFormacao {
    width: 90%;
    text-align: center;
    margin-bottom: 15px;
  }
}

@media (max-width: 720px) {
  .skillsWrapper {
    border: solid red;
    flex-direction: column;
  }

  .boxSkill {
    margin-top: 20px;
    width: 90%;
  }

  .sectionFormacao {
    margin-top: 30px;
    width: 90%;
  }

  .cursosContainer {
    width: 100%;

    justify-content: center;
    flex-wrap: wrap;
  }

  .textFormacao {
    width: 90%;
    text-align: center;
    margin-bottom: 15px;
  }
}

@media (max-width: 1290px) {
  .skillsWrapper {
    flex-direction: column;
  }
  .boxSkill {
    width: 100%;
  }
  .sectionFormacao {
    width: 100%;

    align-items: center;
    justify-content: center;
  }
}
